<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ site.favicon }}">
    <title>{{ site.fullname }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"/>
</head>
<body>
<div class="wrapper">
    <header>
        <h1 id="fullname">{{ site.fullname | default: site.github.repository_name }}</h1>
        <h1 id="fullname_second">{{ site.fullname_second | default: site.github.repository_name }}</h1>
        {% if site.logo %}
        <img src="{{site.logo | relative_url}}" style="border-radius: 50%;" draggable="false" alt="My Photo"/>
        {% endif %}
        
        <div  style="display: flex; flex-direction: row; justify-content: center;">
            <div  style="display: flex; flex-direction: column;">
                    {% if site.show_info %}
                    <div id="info">
                        <div style="display: flex; flex-direction: row; padding-bottom:5px;">
                            <span class="material-symbols-outlined">face</span>
                            <span style="padding-left:5px; padding-top:2px;">{{ site.age }}</span>
                        </div>
                        <div style="display: flex; flex-direction: row; padding-bottom:5px;">
                            <span class="material-symbols-outlined">location_on</span>
                            <span style="padding-left:5px; padding-top:2px;">{{ site.location }}</span>
                        </div>
                        <div style="display: flex; flex-direction: row; padding-bottom:8px;">
                            <span class="material-symbols-outlined">language</span>
                            <span style="padding-left:5px; padding-top:2px;">{{ site.language }}</span>
                        </div>
                    </div>
                    <div id="info_second">
                        <div style="display: flex; flex-direction: row; padding-bottom:5px;">
                            <span class="material-symbols-outlined">face</span>
                            <span style="padding-left:5px; padding-top:2px;">{{ site.age_second }}</span>
                        </div>
                        <div style="display: flex; flex-direction: row; padding-bottom:5px;">
                            <span class="material-symbols-outlined">location_on</span>
                            <span style="padding-left:5px; padding-top:2px;">{{ site.location_second }}</span>
                        </div>
                        <div style="display: flex; flex-direction: row; padding-bottom:8px;">
                            <span class="material-symbols-outlined">language</span>
                            <span style="padding-left:5px; padding-top:2px;">{{ site.language_second }}</span>
                        </div>
                    </div>
                    {% endif %}

                    {% if site.show_contacts %}
                    <ul class="contacts" style="padding-top:10px;">
                        <li><a href="{{ site.mailto }}">Send me <strong>Mail</strong></a></li>
                        <li><a href="{{ site.github.owner_url }}">Profile <strong>GitHub</strong></a></li>
                        <li><a href="{{ site.cv_pdf_link }}">Download <strong>CV PDF</strong></a></li>
                    </ul>
                    <ul class="contacts_second" style="padding-top:10px;">
                        <li><a href="{{ site.mailto_second }}">Send me <strong>Mail</strong></a></li>
                        <li><a href="{{ site.github.owner_url }}">Profile <strong>GitHub</strong></a></li>
                        <li><a href="{{ site.cv_pdf_link_second }}">Download <strong>CV PDF</strong></a></li>
                    </ul>
                    {% endif %}
                </div>
        </div>
    </header>
    <section id="content">
        {{ content }}
    </section>
    <section id="content_second">
        {{ content }}
    </section>
    <footer>
    </footer>
</div>
<script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
<script src="{{ "/assets/js/language.js" | relative_url }}"></script>
</body>
</html>
